@model IQueryable<TripsandTravelSystem.Models.TravalerVM>
@{
    ViewBag.Title = "Display";
    Layout = "~/Views/SharedViews/DashboardLayout.cshtml";
}
<a href="/Travaler/AddTravaler/"><h3 class="text-primary">Create New Travaler</h3></a>
<div class="card">
    <div class="card-header">
        <h5>Travalers Table</h5>
        <span>All<code>Travalers</code> Detials Appear Here</span>
        <div class="card-header-right">
            <ul class="list-unstyled card-option">
                <li><i class="fa fa fa-wrench open-card-option"></i></li>
                <li><i class="fa fa-window-maximize full-card"></i></li>
                <li><i class="fa fa-minus minimize-card"></i></li>
                <li><i class="fa fa-refresh reload-card"></i></li>
                <li><i class="fa fa-trash close-card"></i></li>
            </ul>
        </div>
    </div>
    <div class="card-block table-border-style">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>UserName</th>
                        <th>Email</th>
                        <th>Photo</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>@item.UserName</td>
                        <td>@item.Email</td>
                        <td>
                            <div class="d-inline-block align-middle">
                                <img src="~/Img/@item.Photo" alt="user image" class="img-radius img-40 align-top m-r-15">

                            </div>
                        </td>
                        <td><button class="btn btn-success" onclick="window.location.href='/Travaler/EditTravaler/@item.TravalerId'">Edit <i class="fa fa-edit f-14"></i></button></td>
                        <td><button class="btn btn-danger" onclick="window.location.href='/Travaler/DeleteTravaler/@item.TravalerId'">Delete <i class="fa fa-trash f-14"></i></button></td>



                    </tr>

                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

